<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kavindu.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".My_Adds"></activity>
        <activity android:name=".Add_Job" />
        <activity android:name=".Seller_Dashboard" />
        <activity android:name=".Seller_Signup" />
        <activity android:name=".Seller_Login" />
        <activity android:name=".Seller_main_page" />
        <activity android:name=".Test_page" />
        <activity android:name=".Job_List" />
        <activity android:name=".Userprofile" />
        <activity android:name=".Login_Page" />
        <activity android:name=".Detail_Page" />
        <activity android:name=".Signup_Page" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>